input[type=text] ,input[type=number],input[type=date]{
    width: 20%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
  }
  form{
      background-color:azure;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border-style: ridge;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  span{
      color: red
  }
  label{
      margin: 20px 0;
      padding :30px;
  }
  h4{

      color: dimgrey;
  }