.aboutiiui
{
    background-color: 
    #d9d9d9;
    padding-inline: 0px;
    
    width: 100%;
    border-style: groove;
    border-width: 7px;
    margin-left: auto;
margin-right: auto;
color:#0d0d0d;
text-align: justify;
   
}
.aboutimg
{
    float: left;
}
h1{
margin-left: 300px;
}
div{
    background-color: cadetblue;
}
