ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding:right;
    
    
  }
  .logo
  {
      height: 70px;
width: 100%;
display: block;
margin-left: auto;
margin-right: auto;

  }
  body{
      background-color: skyblue;
   
  }

  div{
      background-color: cadetblue;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
 .leftgif{
     float: left;
     width: 100px;
 }
  body{
      background-color: skyblue
  }