
table, td, th {
    border: 1px solid black;
    background-color: aliceblue
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td {
    height: 50px;
    vertical-align: bottom;
  }
 